
.chat_message {
  /* height: 100%; */
  position: relative;
}

.chat_message_load {
  text-align: center;
  background-color: blue;
  width: 100%;
  padding: 1.2rem;
  position: sticky;
  top: 0;
}

.chat_message_messages {
  display: flex;
  height: 85%;
  flex-direction: column;
  justify-content: end;
}

.chat_message_footer {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: sticky;
  left: 25px;
  bottom: 20px;

}