
.chat_message {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat_message_load {
  text-align: center;
  background-color: #7861E8;
  width: 100%;
  padding: 1.2rem;
  position: sticky;
  top: 0;
}

.chat_message_footer {
  background: #7861E8;
  padding: 2rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: sticky;
}