.button {
  padding: 0.8rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #ffffff;
  color: #9E96B1;
  font-weight: bold;
  border: 1px solid #230ab4;
  border-radius: 1rem;
}

.button:hover {
  opacity: 0.6;
}